<!DOCTYPE html>
<html lang="en">

<head>
  <title>🚀 Veronique</title>
  <% for (var filePath in htmlWebpackPlugin.files.js) { %>
    <script async src="<%= htmlWebpackPlugin.files.js[filePath] %>"></script>
    <% } %>
  <% for (var filePath in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[filePath] %>" />
    <% } %>
</head>

<body>
  <h1>Hello world</h1>
</body>

</html>